/* CSS Document */

/* Portrait tablet */
@media (min-width:767px) and (max-width:960px){
    /* Estructura Principal -------------------------------------------------------- */
    .wrapper { width:100%;  }
    .container-fluid { padding:0; width:100%; }
    /*  HEADER -------------------------------------------*/
    .tope img.fondo { border-top-right-radius:0px; border-top-left-radius:0px;  }
    /* FOOTER  -------------------------------------------*/
    .footer { margin: 0 auto; padding:10px 0px; background: #000;  width: 100%; height: auto; display:block; position: relative;   }
    .copy {  margin:0 auto; width: 90%; height: 80px; display:block; position: relative;   }
   
}

/* Landscape phone to portrait tablet */
@media (max-width: 766px) {
    /* Estructura Principal -------------------------------------------------------- */
    .wrapper { width:100%;  }
    .container-fluid { padding:0; width:100%; }
    .row { margin:0; }
    /*  HEADER -------------------------------------------*/
    .tope { min-height:auto; padding:0;   }
    .tope img.fondo { display:none;  }
    .tope img.fondomob {  width:100%; height:auto; display:block; position:relative; top:0; left:0;  }
    .tope img.logotema {  margin-left:-17%; width:34%; height:auto; display:block; position:absolute; left:50%; top:40px;  z-index:10; }
    /* FOOTER  -------------------------------------------*/
    .footer {  margin:0; padding:15px 0px; background: #000; height:auto;     }
    .copy {  margin:0 auto; width: 94%; height: auto; display:block; position: relative;   }
    .copy img { margin:5px 0; border-right:0px solid #fff; float:none;  display:block;   }
    .copy p { margin:0 auto; width:100%; height:auto; display:block; position:relative; float:none; }
    /* MODAL  -------------------------------------------*/
    .modalpq {border-radius:0px; margin:60px auto 0; width:90%; }
    /* PRINCIPAL  -------------------------------------------*/
    .mod_ppal img.titdiseno {margin:0px auto 30px; width:45%;  }
    .mod_ppal p.txt_instr {  width:96%; height: auto; display:block;}
    /* TOSTON  -------------------------------------------*/
    .mod_toston ul.mnu_toston { margin:10px 5% 20px; width:90%; height:60px;  }
    .mod_toston ul.mnu_toston li a { font-size:1.5em; line-height: 1.25em;  }
    .carr_toston {  width:95%; height:auto; display:block; position:relative; }
    .carr_toston .carr_box { margin:0px auto; width:84%; }
    .carr_toston .carr_box div { margin-right:7px;}
    .toston_box { width:80%;   }

    .mod_toston ul.mnu_elem { margin:10px 5% 30px; width:90%;  }
    .mod_toston ul.mnu_elem li { width:48%; }
    .mod_toston ul.mnu_elem li a:hover { border:2px solid #00ff00; }
    
    .toston_boxfinal { margin:10px 5% 20px; width:90%; }
    ul.galeria { margin:10px 5%; width:90%; height: auto; display:inline-block; position: relative}
    ul.galeria li { margin:1.5%; width:47%; height: auto; display:inline; float:left;  }

    
}


/* portrait phones and down */
@media (min-width:320px) and (max-width: 480px) {
    ul.mnu_info { width:90%; height: auto; display: block; position:absolute; left:5%; bottom:80px; z-index:10;}
    ul.mnu_info li { margin-bottom:5px; width:25%; display:inline; float:left; }
    ul.mnu_info li a { width:100%; display:block; float:left; }
    ul.mnu_info li a img.left { float:none; width:50px; height: 50px; display: block; margin:0px auto; }
    ul.mnu_info li a img.right { float:none; width:50px; height: 50px; display: block; margin:0px auto; }
ul.mnu_info li a p.txt_left { text-align:center; font-size:0.875em; color:#fff; padding-top: 5px; display:block;}
ul.mnu_info li a p.txt_right { text-align:center; font-size:0.875em; color:#fff; padding-top: 5px; display:block;}
    ul.mnu_info li a:hover p, ul.mnu_info li.active a p { color:#fbb731; }
    ul.mnu_info li.active a img {opacity:0.5; }
    
    /* PRINCIPAL  -------------------------------------------*/
    .btn_azul { margin:0 auto 10px; padding-top:6px; background:#009cdc; color:#fff; text-align:center; font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif; font-size:1.25em; width:90%; height: 36px; display:block; float:none; position:relative; left:initial ; border-radius:0px;  }
    
    a.btn_negro { margin:0 0 10px; padding:5px 10px; background:#000; color:#fff; font-size: 1.125em;  display:block; width:100%; height: 36px; position:relative; border-radius:0px;  }
    a.btn_left, a.btn_right {float:none;}


    ul.galeria { margin:10px 0%; width:100%; height: auto; display:inline-block; position: relative}
    ul.galeria li { margin:1.5% 0; width:100%; height: auto; display:inline; float:left;  }
    ul.galeria li a { width:100%; height: auto; display:block;  border:5px solid #000; border-radius:6px; }
    ul.galeria li a img { margin:0 auto; width:100%;  }
    ul.galeria li a p { font-size:1em; width:100%; height: auto; display:block;position: relative; }
    


  
    
}


