*{font-size: 14px;font-family: sans-serif; }
#cssmenu ul li a {cursor: pointer; }
form.login {background: url(../../images_email/email_topeazul.jpg) repeat scroll 0 0 #F1F1F1;border: 1px solid #DDDDDD;margin: 0 auto;padding: 20px;width: 278px;position: absolute;left: 0;right: 0;top: 25%;/* bottom: 0; */margin: auto;}
form.login div {margin-bottom: 15px;overflow: hidden;}
form.login div label {display: block;float: left;line-height: 25px;}
form.login div input[type="text"], form.login div input[type="password"] {border: 1px solid #DCDCDC;float: right;padding: 4px;}
form.login div input[type="submit"] {background: none repeat scroll 0 0 #DEDEDE;border: 1px solid #C6C6C6;float: right;font-weight: bold;padding: 4px 20px;}
#us{ margin-left: 10px;}
.error{color: red;font-weight: bold;margin: 10px;text-align: center;}
.mod_perfil {margin:20px auto 10px;  width:96%; height: auto; display:inline-block; position:relative;  clear:left;   }
.mod_perfil p { margin:0 auto; padding-bottom:5px; font-size:1.25em; line-height:1.375em; text-align:center; width:90%; height: auto; display:block; position: relative; }
.mod_perfil p span{color:#8e47e6}

.misdatos, .misalto { font-size: 10px; margin-bottom:10px; width:100%; height: auto; display:inline-block; position: relative; clear:left; }
.misdatos img { width:80px; height: 80px; border-radius: 55px; display: block; float:left; margin-right:10px; }
.misdatos p { padding-bottom:3px; font-size:1.25em; text-align:left; width:60%; height: auto; display:block; position: relative; float:left;  }
.misdatos p.nombre { padding-top:12px; font-size:1.75em; }

.misalto img { width:80px; height: 80px; border-radius:45px; display: block; float:left; margin-right:10px; }
.misalto p { padding-bottom:3px; font-size:1.25em; text-align:left; width:60%; height: auto; display:block; position: relative; float:left;  }
.misalto p.nombresalto { padding-top:12px; font-size:1.75em; color:#8e47e6; text-transform: uppercase; }
ul.saltofotos { margin:0 auto; width:90%; }
ul.saltofotos li {width:15%; float:left; margin: -25px -20px 0px 20px; }
ul.saltofotos li a { margin:0 auto 10px; width:100px; height: 90px; padding-top:-35px; font-size:70px; border-radius: 55px; float:none; display:block;position: relative; margin-top: -50px;}
ul.saltofotos li img {display: block;border-radius: 55px;width: 90px;height: 90px;}
.salto {border: 1px solid #d0d0d0;}
.imagen_usuario {border: 1px solid rgb(204, 204, 204);margin: 0px auto;height: 180px;width: 800px; list-style: none;}
.imagen_usuario p {position: relative; float: left;}
.imagen_usuario img {position: relative; float: left; margin-left: 8%;     max-width: 140px;}
#email{float: right;}
img {width: 185px; position: relative; margin-top: 5%; margin-left: 15% } 
#categoria {width: 35px;height: 35px;border-radius: 27px;margin-left: 120px;}
#ncategoria {position: relative; margin-left: 570px;}
#nombre{position: relative; margin-left: 71px;} 
#box {margin-left: 495px;}
form.users p input[type="text"] {width: 1000px;}
.fancyNav {overflow: hidden;display: inline-block;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
        -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
          -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6); margin-left: 220px;margin-top: 125px;}
.fancyNav li{background-color: #f0f0f0;background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
             background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
             background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
             background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
             background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
         border-right: 1px solid rgba(9, 9, 9, 0.125);
         box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
         -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
             -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
         position:relative;
         float: left;
             list-style: none;}

.fancyNav li:first-child{border-radius: 4px 0 0 4px;}

.fancyNav li:first-child:after,.fancyNav li.selected:first-child:after{
                box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
                -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
                -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
                border-radius:4px 0 0 4px;}
.fancyNav li:last-child{border-radius: 0 4px 4px 0;}
.fancyNav li:last-child:after,.fancyNav li.selected:last-child:after{box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
                                   border-radius:0 4px 4px 0;}
.fancyNav li:hover:after,.fancyNav li.selected:after,.fancyNav li:target:after{opacity:1;}

.fancyNav li a{color: #5d5d5d;display: inline-block;font: 20px/1 Lobster,Arial,sans-serif;padding: 12px 35px 14px;position: relative;text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);z-index:2;text-decoration:none !important;
    white-space:nowrap;}
    /*Menu css*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#cssmenu.align-right ul li {
  float: right;
  border-right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.22);
}
#cssmenu.align-right ul li a {
  border-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#cssmenu ul {
  background: #222222;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -webkit-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -o-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -ms-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
}
#cssmenu:after,
#cssmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu ul li {
  float: left;
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.22);
  z-index: 1;
}
#cssmenu ul li::after {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  border-top-left-radius: 50% 4px;
  border-top-right-radius: 50% 4px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
  bottom: 10px;
}
#cssmenu ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 3;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #1275ae;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: -webkit-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: -o-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: -ms-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: linear-gradient(to top, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
}
#cssmenu ul li:hover::after,
#cssmenu ul li.active::after {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
/*Home*/
#container{
  width: 33%;
  margin:0px auto;
  margin-top:40px; 
}
#link{
    color:#fff;
    z-index:9999;
    position:relative;
    background:#f0776c;
    width:200px;
    border: 0;
    border-bottom: 2px solid #d76b60;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #d76b60;
    text-shadow: 4px 3px #d76b60;
    box-shadow: inset 0 -2px #d76b60;
    cursor:pointer;
    text-align:center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-style:italic;
    font-size: 44px;
    line-height: 40px;
    margin:0px auto;
    padding: 27px;
    font-weight: 100;
}
#link:hover + #menu {
            transform: rotateX(0deg);
            -ms-transform:rotateX(0deg); /* IE 9 */
            -webkit-transform:rotateX(0deg); /* Opera*/
            -moz-transform: rotateX(0deg);     
            color:red;
            z-index:-99999;
            position:relative;
            visibility:visible;
}

#menu {
        pointer-events: none;
        transform-style: preserve-3d;
        transition: all 1s linear;
        transform: rotateX(180deg);
        transfor-origin:0% 0%;
        -webkit-transform:rotateX(180deg);
        -webkit-transform-origin: 0% 0%;
        -moz-transform: rotateX(180deg);     
        -moz-transform-origin: 0% 0%;
        -ms-transform: rotateX(180deg);      
        -ms-transform-origin: 0% 0%;
        z-index:-99999;
        position:relative;
        transition-timing-function: cubic-bezier(0, 0.35, .5, 1.8);
        -webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.8);
        -moz-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.8);
        -ms-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.8);
        visibility:hidden;
        text-align:center;
        width: 250px;
        padding-top: 8px;
        margin:0px auto;
}

.face::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    height: 18px;
    background: #c4e17f;
    border-radius: 5px 5px; 
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);    
}

.face{
    color: #aaa;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0 1px rgba(255, 255, 255, 1);
    background: #f7f7f7;
    border-top: 16px solid #B6B0B0;
    border-right: 4px solid #E0DEDE;
    border-bottom: 4px solid #E0DEDE;
    border-left: 4px solid #E0DEDE;
    text-align: center;
    font-family: san-serif;
    padding: 20px 0px;
    width: 242px;
}

.face p{
    margin:0px;
    font-family: 'Concert One', cursive;
}

#link::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 23px;
    bottom: -15px;
    left: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-bottom:1px solid #000;
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 2%, #f4f4f4 50%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#cccccc), color-stop(50%,#f4f4f4), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 2%,#f4f4f4 50%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 2%,#f4f4f4 50%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 2%,#f4f4f4 50%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cccccc 2%,#f4f4f4 50%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0px -2px 0px 0px rgba(29, 24, 24, 0.75);
    -moz-box-shadow:    0px -2px 0px 0px rgba(29, 24, 24, 0.75);
    box-shadow:         0px -2px 0px 0px rgba(29, 24, 24, 0.75);
}

#link::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 23px;
    bottom: -15px;
    left: 218px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-bottom:1px solid #000;
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 2%, #f4f4f4 50%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#cccccc), color-stop(50%,#f4f4f4), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 2%,#f4f4f4 50%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 2%,#f4f4f4 50%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 2%,#f4f4f4 50%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cccccc 2%,#f4f4f4 50%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0px -2px 0px 0px rgba(29, 24, 24, 0.75);
    -moz-box-shadow:    0px -2px 0px 0px rgba(29, 24, 24, 0.75);
    box-shadow:         0px -2px 0px 0px rgba(29, 24, 24, 0.75);
}

